.crucigrama-color5-23 {
    background-color: #FCD8C9;
    border: none !important;
}

.crucigrama-color5-23 button{
    background-color: #FCD8C9;
    color: #BB8EAE;
}

/* Page 109**/
.crucigrama-color-pag23{
    background-color: #FCD8C9;
    border: none !important;
  }
  
  .crucigrama-color-pag23 button{
    background-color: #FCD8C9;
    color: white ;
  }
  
  .crucigrama-pag23 input{
    background-color: #FCD8C9;
    color: white;
  }