.crucigrama-juego {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.crucigrama-palabras {
  margin-top: 10px;
}

.crucigrama-color{
  background-color: #FCD8C9;
  border: none !important;
}

.crucigrama-color button{
  background-color: #FCD8C9;
  color: #BB8EAE;
}

.crucigrama-palabras input {
  background-color: #FCD8C9;
  color: #BB8EAE;
  border: none;
  text-align: center;
  border-radius: 20px;
  margin: 5px;
  text-transform: capitalize;
}

.crucigrama-palabras li {
  list-style: none;
  font-size: 12px;
}

.crucigrama-palabras div {
  display: flex;
  flex-direction: row;
}
