#zonasDeSoltar, #arrastrables{display:flex;}  
#arrastrables div{margin:10px 17px 0 10px;}
.arrastrable {
    flex:0 0 100px;
    height: 75px;
    background: #FFCC66;
    text-align: center;
    
    border:1px solid;
 
  }

  .soltar {
    flex:0 0 0px;
    height: 75px;
    background: #c0e9ae;
    padding: 1px;
    margin:1px 1px 0 0 ;
  }