imagen{
    background: url(../../resources/img/BOOKS/FirstGrade/juegosfirstgrade/imagen/Cuadro.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: scroll;
    background-position: 49% 68% ;
    
}