/* Move down content because we have a fixed navbar that is 50px tall */
body {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */ 
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
#Titulo1 {
    background-color: #26272b;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
.botonAnim {
    border-color: #ffa420;
    border-radius: 0;
    color: #ffa420;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

    .botonAnim:after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 0;
        height: 100%;
        background: menu;
        z-index: -1;
        -webkit-transition: width 150ms ease-in-out;
        transition: width 150ms ease-in-out;
    }

    .botonAnim:hover {
        color: #33353d;
    }

        .botonAnim:hover:after {
            width: 110%;
        }


#fontmen {
    font-family: "Oswald", sans-serif;
}


.containercentrado {
    text-align: center;
}

.containercentrado1 {
    text-align: center;
}


.menu {
    animation: menu 1s ease-in-out;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    width: 100%;
    z-index: 100;
    background: #33353d;
    padding: 0px;
}

@keyframes menu {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}

.menu ul{
    display: flex;
    height: 100%;
    margin: 0px;
}

    .menu ul li {
        margin-right: 0px;
        padding: 20px;
        list-style: none;
        height: 100%;
        transition: 0.5s ease-in-out;
    }

        .menu ul li a {
            font-size: 13px;
            letter-spacing: 3px;
            font-family: Verdana;
            text-decoration: none;
            list-style: none;
            color: rgb(255, 255, 255);
            transition: 0.5s ease-in-out;
        }


.btnModal {
    float:right;
}



::selection {
  background: #2D2F36;
}
::-webkit-selection {
  background: #2D2F36;
}
::-moz-selection {
  background: #2D2F36;
}
body {
  background: white;
  font-family: 'Inter UI', sans-serif;
  margin: 0;
  padding: 20px;
}
.page {
  background: #e2e2e5;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  position: absolute;
  place-content: center;
  width: calc(100% - 40px);
}
@media (max-width: 767px) {
  .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.containerlogin {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
}
@media (max-width: 767px) {
    .containerlogin {
        flex-direction: column;
        height: 630px;
        width: 320px;
    }
}
.left {
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.login {
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
}
.eula {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
}
.right {
  background: #474A59;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
svg {
  position: absolute;
  width: 320px;
}
path {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.form {
  margin: 40px;
  position: absolute;
}
label {
  color:  #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
input {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
input::-moz-focus-inner { 
  border: 0; 
}
#submit {
  color: #707075;
  margin-top: 40px;
  transition: color 300ms;
}
#submit:focus {
  color: #4BADB6;
}
#submit:active {
  color: #4BADB6;
}



.main * {
    transition: 1s;
}
main .contenedor-img {
    max-width: 60%;
    margin-right: 40px;
}
@media screen and (max-width: 915px) {
    main {
         flex-direction: column;
         text-align: center;
    }

    main .contenedor-img {
         margin-bottom: 40px;
    }
}



ul li a {
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

    ul li a:hover {
        text-transform: uppercase;
        background: #737373;
        border: none;
        border-left: 1.5px solid #fff;
        border-radius: 50px 50px 50px 50px;
    }

.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

    .site-footer hr {
        border-top-color: #bbb;
        opacity: 0.5
    }

        .site-footer hr.small {
            margin: 20px 0
        }

    .site-footer h6 {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 5px;
        letter-spacing: 2px
    }

    .site-footer a {
        color: #737373;
    }

        .site-footer a:hover {
            color: #3366cc;
            text-decoration: none;
        }

.footer-links {
    padding-left: 0;
    list-style: none
}

    .footer-links li {
        display: block
    }

    .footer-links a {
        color: #737373
    }

        .footer-links a:active, .footer-links a:focus, .footer-links a:hover {
            color: #3366cc;
            text-decoration: none;
        }

    .footer-links.inline li {
        display: inline-block
    }

.site-footer .social-icons {
    text-align: right
}

    .site-footer .social-icons a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-left: 6px;
        margin-right: 0;
        border-radius: 100%;
        background-color: #33353d
    }

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

        .site-footer .copyright-text, .site-footer .social-icons {
            text-align: center
        }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

    .social-icons li {
        display: inline-block;
        margin-bottom: 4px
    }

        .social-icons li.title {
            margin-right: 15px;
            text-transform: uppercase;
            color: #96a2b2;
            font-weight: 700;
            font-size: 13px
        }

    .social-icons a {
        background-color: #eceeef;
        color: #818a91;
        font-size: 16px;
        display: inline-block;
        line-height: 44px;
        width: 44px;
        height: 44px;
        text-align: center;
        margin-right: 8px;
        border-radius: 100%;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear
    }

        .social-icons a:active, .social-icons a:focus, .social-icons a:hover {
            color: #fff;
            background-color: #29aafe
        }

    .social-icons.size-sm a {
        line-height: 34px;
        height: 34px;
        width: 34px;
        font-size: 14px
    }

    .social-icons a.facebook:hover {
        background-color: #3b5998
    }

    .social-icons a.twitter:hover {
        background-color: #00aced
    }

    .social-icons a.linkedin:hover {
        background-color: #007bb6
    }

    .social-icons a.dribbble:hover {
        background-color: #ea4c89
    }

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}

.css-xfq28i {
    height: 4px;
    background-color: #737373;
    width: 100%;
}

.contenedor {
	background-color: #fff;
	width: 90%;
	max-width: 1200px;
	margin: 40px auto;
	padding: 40px;
	border-radius: 10px;
}


.contenedor-texto .titulo {
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 40px;
}

.contenedor-texto .materias {
    font-weight: bold;
    color: #934b17;
    font-style: normal;
}

.btn-link {
    display: inline-block;
    padding: 10px 30px;
   border-radius: 100px;
    margin-right: 10px;
    text-decoration: none;
    background: #f2f2f2;
}

.btn-link:hover,
.btn-link.activo {
   color: #fff;
   background: #934b17;
}






.contenedor2 {
    margin: 0px;
    padding:0px;
    font-family: sans-serif;
	height: 50vh;
	display:flex;
	align-items:center;
	justify-content: center;
    background: rgb(0, 0, 0);
    perspective: 1000px;
}
.book{
    display:flex;
    align-items:center;
    cursor: pointer;
}
.book:hover .cover{
    transform: rotateX(10deg) rotateY(-100deg);
}
.cover{
    z-index:1;
    transition: all 3s;
}
.back-cover{
    z-index:-2;
}
.cover,
.back-cover{
    height:300 px;
    width:260 px;
    background: #353755;
    border-radius: 2px 20px 20px 2px;
    position:absolute;
    box-shadow:1px 1px 10px rgb(185, 123, 123);
    transform: rotateX(10deg);
}
.page,
.last-page{
    height:280px;
    width: 250px;
    background: rgb(255, 254, 254);
    position:absolute;
    border-radius: 2px 10px 10px 2px;
    transform: rotateX(10deg);
}
.page:nth-child(2){
    transition-duration:3s;
}
.page:nth-child(3){
    transition-duration:2.6s;
}
.page:nth-child(4){
    transition-duration:2.2s;
}
.page:nth-child(5){
    transition-duration:1.8s;
}
.page:nth-child(6){
    transition-duration:1.4s;
}

.book:hover .page:nth-child(2){
    transition-duration:6s;
}
.book:hover .page:nth-child(3){
    transition-duration:5.6;
}
.book:hover .page:nth-child(4){
    transition-duration:5.2;
}
.book:hover .page:nth-child(5){
    transition-duration:4.8;
}
.book:hover .page:nth-child(6){
    transition-duration:4.4;
}

.last-page img{
    width:150px;
    display:block;
    border-radius:50%;
    margin:20px auto;
    position: relative;
}
.last-page h2{
    text-align:center;
    font-size:32px;
}





